C:\Users\Pratik\Desktop\CODES\MainCodes\MyProjects\AIbot\MyBotAi\Jarvis\Modules\__pycache__
C:\Users\Pratik\Desktop\CODES\MainCodes\MyProjects\AIbot\MyBotAi\Jarvis\*.txt
C:\Users\Pratik\Desktop\CODES\MainCodes\MyProjects\AIbot\MyBotAi\Jarvis\check.py